
@imoprt url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500,600,700;800;900&display=swap');
*{
	margin: 0px;
	border: 0px;
 
	/*opcional*/

}
body{
	background-color: white;
}
/* estilo del login*/
.contenedor{
	position: absolute;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
}
.contenedor-form{
	position: absolute;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
	background-color: rgba(144, 110, 74,0.7);
}
.form{
	width: 50%;
	height: auto;
	margin-top: 10%;
	margin-left: 25%;
	border: solid 13px black;
}
.imgan img{
	width: 15%;
	padding-left: 40%;
}
.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(33, 47, 61 ,0.8);
    text-align: center;
    border: 2px solid black;
    border-radius: 50px;;
}
.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.box input[type="text"],.box input[type="password"]{
    border:0px;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    /*cursor: pointer;*/
}
.box input[type="text"]:focus,.box input[type="password"]:focus{
    width: 220px;
    border-color: #2ecc71;
}
.box input[type="submit"]{
    border: 0px;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type="submit"]:hover{
    background-color: #2ecc71;
}
a{
    text-decoration: none;
    color: black;

    padding: 10px;
    border-radius: 20px;
}
/*estilos del header*/
.menu {
	text-align: right;
	background-color: #545b62;
}
.info-per{
	text-align: center;
	
}
.info-per img{
	z-index: 5;
    height: 90px;
    width: 90px;
    border: 3px solid;
    border-color: transparent;
    border-color: rgba(255,255,255,0.2);
}
.info-per a:hover{
	background-color: orangered;
}
.titimg{
	text-align: left;
	width: 25%;
}
.titimg a{
	background-color: #545b62;
}

/*estilos barra de navegacion*/
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #343a40;
}

li {
    float: left;
    background-color: #343a40;
}

li #menu  {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a#menu:hover {
    background-color: #58D68D;
}


/*carrusel*/
#carouselExampleIndicators {
	padding-left: 10%;
	padding-right: 10%;

}
#carouselExampleIndicators img{
	height: 440px;
}
/*estilos de cards*/
.cards-propias{
	/*top,right,bottom,left*/
	padding: 2% 15% 3% 15%;
	background-color: black;
	text-align: center;
}
.cards-propias img{
	width: 60%;
}
/*llenar formulario*/
.llenar{
	margin: 1% 15% 3% 15%;
	background-color:  #D13A3A;
	padding: 2% 10% 3% 15%;
}
/*estilos de los cards*/

.container{
	width: 100%;
	max-width: 1200px;
	height: 438;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
}
.container .card{
	width: 338px;
	height: 430px;
	border-radius: 8px;
	box-shadow: 8 2px 2px rgba(8,8,8,0.2);
	overflow: hidden;
	margin: 20px;
	text-align: center;
	transition: all 0.30s;
	background-color: #B9B1B1;
}
.container .card:hover{
	transform: translateY(-15px);
	box-shadow: 0 12px 16px rgba(8, 8, 8, 0.2);
	background-color: #8DBF7A;
}
.container .card img{
	width: 338px;
	height: 300px;
	/*top,right,bottom, left */
	 
}
.container .card a{
	text-decoration: none;
	font-size: 30px;
	background-color: #E0D8D8;
}
.container .card a:hover {
    background-color: #F36464;
	color: white;
}
/*formulario gmail*/
.gmail-form{
	margin-left: 50px;
	margin-left: 50px;
	margin-top: 30px;
	padding-left: 25px;
	padding-right: 50px;
}
/*estilos redes sociales*/


.container .card #f:hover {
    background-color: #2041E5;
	color: white;
}

.container .card #i:hover {
    background-color: #AF18BF;
	color: white;
}

/*estilos buscador*/
#myInput #myInput2 #myInput3 #myInput4 {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable #myTable2 #myInput3 #myInput4{
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td, #myTable2 th, #myTable2 td, #myTable3 th, #myTable3 td, #myTable4 th, #myTable4 td   {
  text-align: left;
  padding: 12px;
}

#myTable tr, #myTable2 tr, #myTable3 tr, #myTable4 tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #8E8E8E;
}
#myTable2 tr.header, #myTable2 tr:hover {
  background-color: #8E8E8E;
}
#myTable3 tr.header, #myTable3 tr:hover {
  background-color: #8E8E8E;
}
#myTable4 tr.header, #myTable4 tr:hover {
  background-color: #8E8E8E;
}

/*mapa*/

#map {
        height: 100%;
      }

      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
/*informacion personal*/
.container-info{
	background-color:rgba(192, 57, 43, 0.6);
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 3%;
	padding-bottom: 5%;
}
.container-info .container-header{
	
	text-align: center;
}
.container-info  .datos{
	/*background-color: green;*/
	padding-left: 5%;
	border: solid 2px black;
	width: 100%;
}
.container-info  .datos h3{
	text-align: left;

}
.container-info  .datos label{
	font-size: 35px;

}
/*Mapa*/
#map{
	height: 300px;
	width: 100%;
	/*reloj
	padding: 5% 10% 0 10%;*/
}
.conttainer-map{
	height: 300px;
	width: 100%;
}
/*estilo boton de llenar solicitud*/
fecha-boton{
	width: 55%;
	margin: 2px;
}
/*estilos formulario de registro nuevos usuarios*/

#regForm {
  background-color: #777373;
  margin: 50px auto;
  font-family: Raleway;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

h1 {
  text-align: center;  
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}
/*estilos footer*/

  .bg-4 { 
    background-color: #2f2f2f;
    color: #fff;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
	  margin-top: 3%;
  }



 /*ESTILOS DE FORM CAMBIO DE PASSWORD EMERGENTE*/
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: solid 1px gray;
  background: white;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}


/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
/* ESTILOS DE CAMBIO DE CONTRASEÑA*/
input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

/* Style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
}

/* Style the container for inputs */
.container {
  background-color: #f1f1f1;
  padding: 20px;
}

/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}
/*.container-pass{
	text-align: center;
	background-color: red;
}*/

/*ESTILO DE MOSTRAR CONTRASEÑA*/
#input-showPass{
	text-align: left;
	width: 50px;
}
/*ESTILO PARA ALERTA*/
#alertaa{
	width: 70%;
	text-align: center;
	margin-left: 15%;
	margin-right: 15%;
}
@media screen and (max-width: 460px) {
  #container form{
    width: 90%;
  }
  
  
}

/*estilos tabla responsiva*/
.table{
  width: 100%;
  border-collapse: collapse;
}
.table td, .table th{
  padding: 12px 15px;
  border: 1px solid#ffdddd;
  text-align: center;
  font-size: 16px;
}
.table th{
  background-color: darkblue;
  color: #ffffff;
}
.table tbody tr:nth-child(even){
  background-color: #f5f5f5;
}
/*responsive*/
@media(max-width:500px){
  .table thead{
    display: none;
  }
  .table, .table tbody, .table tr,.table td{
    display: block;
    width: 100%;
  }
  .table tr{
    margin-bottom: 15px;
  }
  .table td{
    text-align: right;
    padding-left: 50%;
    text-align: right;
    position: relative;
  }
  .table td::before{
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
}













































































